*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.flex-container{
    display: flex;
}

.header{
    background-color: #1F2937;
    padding: 20px;
    text-wrap: nowrap;
}

.hero{
    background-color: #1F2937;
}

.button{
    padding: 2%; 
    padding-left: 10%; 
    padding-right: 10%; 
    background-color: #3C82F6;
    color: white; 
    text-align: center; 
    font-size: 18px; 
    border-radius: 10px;
}

.flex-container-information-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.emptyBlueBox {
    border: solid 5px #3C82F6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.informationText {
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: #1F2937;
}

.quote{
    background-color: #E4E7EC;
}

.quoteText{
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    text-wrap: wrap;

}

.callToAction{
    background-color: #3C82F6;
    border-radius: 5px;
}

.callToActionText1{
    font-weight: bold;
    color: white;
    font-size: 30px;
}


.callToActionText2{
    color: rgb(207, 207, 207);
    font-size: 15   px;
}

.buttonCalltoAction{
    background-color: #3C82F6;
    border: solid 2px white;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-wrap: nowrap;
    height: 30px;
    width: 100px;

}

.footer{
    background-color: #1F2937;
    color: white;
    font-size: 20px;
    padding: 2.5%;
}