body{
    font-family: montserrat, sans-serif;
    background-color: #1A1A1A;
    margin: 0px;
}

.flex-container{
    display: flex;
}

.header{
    padding: 20px;
    text-wrap: nowrap;
    background-color: #313131;
}

.hero{
    background-color: #1A1A1A;
    transition: background 0.3s ease;
    position: relative;
}

.heroText{
    color: white;
    text-wrap:  wrap;
    font-size: 3vw;
    font-weight: bold;
}

.buttonHero{
    padding: 2%; 
    padding-left: 10%; 
    padding-right: 10%; 
    background-color: #FF4D5A;
    color: white; 
    text-align: center; 
    font-size: 1vw; 
    border-radius: 10px;
    text-wrap: nowrap;

    width: 15vw;
    height: 5vh;
    
}

.button{
    padding: 2%; 
    padding-left: 10%; 
    padding-right: 10%; 
    background-color: #3C82F6;
    color: white; 
    text-align: center; 
    font-size: 18px; 
    border-radius: 10px;
}

.flex-container-information-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.emptyBlueBox {
    border: solid 5px #3C82F6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.informationText {
    text-align: center;
    text-wrap: wrap;
    font-size: 36px;
    color: white;
}

.quote{
    background-color: #E4E7EC;
}

.quoteText{
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    text-wrap: wrap;

}

.callToAction{
    background-color: #3C82F6;
    border-radius: 5px;
}

.contactText1{
    font-weight: bold;
    color: white;
    font-size: 30px;
    padding-top: 1%;
}


.contactText2{
    color: rgb(207, 207, 207);
    font-size: 15   px;
    padding: 10px;
}

.buttonCalltoAction{
    background-color: #3C82F6;
    border: solid 2px white;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-wrap: nowrap;
    height: 30px;
    width: 100px;

}

.project{
    font-size: 40px;
    padding: 10%;
}
